<h1>WHAT WE DO</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>Exact paint for your space</h3>
      <p>We allow you to live your life in color by customizing your exact paint shade as well as calculating the exact amount you need to minimize wastage</p>
      <button type="button" class="btn btn-info">Buy now</button>
    </div>
    <div class="col-sm-4">
      <img src="/assets/images/taelynn-christopher-pfSNx3Z12K8-unsplash.jpg" alt="paint" height="400" >
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-4">
      <img src="/assets/images/chino-rocha-fXIgW12nWmo-unsplash.jpg" alt="paint" height="400" >
    </div>
    <div class="col-sm-8">
      <h3>Exact paint for your space</h3>
      <p>We allow you to live your life in color by customizing your exact paint shade as well as calculating the exact amount you need to minimize wastage</p>
      <button type="button" class="btn btn-info">Buy now</button>
    </div>
    
  </div>


</div>