*
{
  color: white;
  background-color: #558EAA
}
 h1{
  text-align: center;
  
  }

.d-block{
  justify-content: center;
  text-align: center;
}

.img{
  display: flex;
  justify-content: center;
  
}

img{
  border-radius: 50%;
}



