<section class="home container-fluid">
  <div class="homepage">
      <div class="row container-fluid text-centre">
        <div class="col-sm">
          <h1>100+</h1>
          <p>Shades</p>
        </div>
        <div class="col-sm">
          <h1>100+</h1>
          <p>Varieties</p>
        </div>
        <div class="col-sm">
          <h1>100+</h1>
          <p>Applications</p>
        </div>
      </div>
     <div class="col text-center">
      <button type="button" class="btn btn-dark">Buy now</button>
    </div>
  </div>
</section> 

