.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:url(assets/images/spacejoy-8Y8U9fduILs-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  font-size: 30px;
  
}

.btn{
  width: 30%;
}

.col-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: white;
  width: 15rem;
  height: 10rem;
  margin: 12px;
  border-radius: 25px;
  box-shadow: 1px 2px 50px 0px #5d9eba;
}


