@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster+Two:wght@400;700&family=Merriweather&family=Rubik+Distressed&display=swap');* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.auth {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(src/assets/images/katie-rainbow-qr6hKMhI3ag-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth h2{
  font-family: 'Lobster Two', cursive;
}
.form-box {
    height: 600px;
    width: 400px;
    position: relative;
    margin: 10% 0;
    padding: 5px;
    background: #fff;
    overflow: hidden;
}
.form-box.left {
    background-image: linear-gradient(rgba(10, 79, 119, 0.4), rgba(1, 59, 66, 0.4)), url(src/assets/images/katie-rainbow-qr6hKMhI3ag-unsplash.jpg);
    background-size: cover;
    width: 500px;
    text-align: center;
}
.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #5d9eba;
    border-radius: 30px;
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #1f516c, #5d9eba);
    border-radius: 30px;
    transition: .5s;
}


.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    height: 45px;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    outline: none;
    background: transparent;
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 45px;
    color: #1f516c;
    font-size: 1.3rem;
}

.input-field  input {
    background: none;
    outline: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    line-height: 1;
    border-bottom: 1px solid #999;
}
.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #1f516c, #5d9eba);
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: all 0.3s ease;
}
.submit-btn:hover {
    background: linear-gradient(to left, #1f516c, #5d9eba);
    color: #fff;
}
.checkbox {
    margin: 30px 10px 30px 15px;
}
span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login {
    left: 50px;
}
#register {
    left: 450px;
}
.info {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.info h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
}
.contact-info{
    width: 200px;
    margin-bottom: 20px;
    justify-content: center;
}
.contact-info p {
    padding: 10px 0;
}
.contact {
    display: flex;
    margin: 10px;
}
.left .info i {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation {
    margin-top: 15%;
}
.navigation a {
    text-decoration: none;
    color: #fff;
}
.navigation:hover a, .navigation:hover i {
    color:coral;
}

@media (max-width: 960px) {
    .hero {
        flex-direction: column;
        overflow: visible;
        justify-content: flex-start;
        height: 130%;
    }
    .form-box.left {
        order: 2;
        margin-top: 550px;
        width: 350px;
    }
    .form-box.right {
        order: 1;
    }
    .form-box {
        height: 550px;
        width: 350px;
        margin: 10px 0;
        position: absolute;
    }
}

