<div class="order">
  <h1>Order Yours</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5>Oil paint</h5>
        <p>Oil paints are usually applied as a primer, undercoat and a finish coat. In the past oil paints were heavily relied on because of its durability and longevity on surfaces, however water-based paints are now at par. Known for their gloss and durability, oil paints stand for a rich finish, water-resistant properties and long-lasting abilities</p>
        <h4> @200/= per litre</h4>
        <button type="button" class="btn btn-secondary">Buy now</button>
      </div>
      <div class="col-sm">
        <h5 >Emulsion paint</h5>
        <p>The evolution of water based paints means that they are nearly (but not quite) as durable as oil-based paints, but have several key advantages. They typically dry much quicker and are easier to apply with a brush or roller — so popular with DIYers. It’s quicker and much easier to clean brushes and tools, they are low odour and more environmentally-friendly</p>
        <h4> @150/= per litre</h4>
        <button type="button" class="btn btn-secondary">Buy now</button>
      </div>
      <div class="col-sm">
        <h5>Enamel paint</h5>
        <p>Emulsion is a hard-wearing water-based paint that is typically used for walls and ceilings. The two common types are matt and silk. Matt has a very low sheen and reflects very little light which makes it ideal f. Silk has a higher sheen and is more durable and easy to wash than matt, but is more likely to show imperfections.  </p>
        <h4> @100/= per litre</h4>
        <button type="button" class="btn btn-secondary">Buy now</button>

      </div>
    </div>
  </div>
</div>
