#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:url(/docs/assets/images/anna-kolosyuk-D5nh6mCW52c-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  font-size: 30px;
  
}